@model ChristiansWebPage.Models.PerCapitaByAjax
<ul id="@("Person" + Model.Id)">
    <li class="col-md-3">@Html.DisplayFor(Modelitem => Model.FirstName)</li>
    <li class="col-md-3">@Html.DisplayFor(Modelitem => Model.LastName)</li>
    <li class="col-md-2">@Html.DisplayFor(Modelitem => Model.MobilePhoneNumber)</li>
    <li class="col-md-2">@Html.DisplayFor(Modelitem => Model.City)</li>
    <li class="col-md-2">
        @{var routeValue = new RouteValueDictionary();
            routeValue.Add("id", Model.Id);}
    </li>
    <li class="rowBreak"></li>


    @using (Ajax.BeginForm("UpdatePerCapitaByAjax", "PerCapitaByAjax",
    ajaxOptions: new AjaxOptions
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "Person" + Model.Id,
    },
    routeValues: routeValue))
    {
        @*{int personId = 0;}  *@
        ChristiansWebPage.Models.PerCapitaByAjax editedPerson = new ChristiansWebPage.Models.PerCapitaByAjax(personId);
        @Html.EditorFor(Model => editedPerson.FirstName)
        @Html.EditorFor(Model => editedPerson.LastName)
        @Html.EditorFor(Model => editedPerson.MobilePhoneNumber)
        @Html.EditorFor(Model => editedPerson.City)
        @Html.HiddenFor(Model => Model.Id)
        <input type="submit" value="Update" />
    }

    @Ajax.ActionLink("Cancel", "PeopleRowRender",
    ajaxOptions: new AjaxOptions
    {
        InsertionMode = InsertionMode.ReplaceWith,
        UpdateTargetId = "Person" + Model.Id,
    },
     routeValues: routeValue)
    <li class="rowBreak"></li>
</ul>