<div class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li class="class=" navbar-brand"><img src="~/Content/greenFlag.jpg" /></li>
                <li class="nav">@Html.ActionLink("Home", "Index", "Home")</li>
                <li class="nav">@Html.ActionLink("About", "About", "Home")</li>
                <li class="nav">@Html.ActionLink("Contact", "Contact", "Home")</li>
                <li class="nav">@Html.ActionLink("Projects", "Projects", "Home")</li>
                <li class="nav">@Html.ActionLink("Fevercheck", "FeverCheck", "Home")</li>
                <li class="nav">@Html.ActionLink("Guess a number game", "GuessingGame", "Home")</li>
                <li class="nav">@Html.ActionLink("Per Capita", "Index", "PerCapita")</li>
                <li class="nav">@Html.ActionLink("Per Capita by AJAX","Index","PerCapitaByAjax")</li>
            </ul>

        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav"></ul>
        </div>
    </div>
</div>
