 @model List<ChristiansWebPage.Models.PerCapitaByAjax>

@foreach (ChristiansWebPage.Models.PerCapitaByAjax item in Model) { 
    <li id="@item.Id" id="firstName">@Html.DisplayFor(Modelitem => item.FirstName)</li>
    <li id="lastName">@Html.DisplayFor(Modelitem => item.LastName)</li>
    <li id="mobileNumber">@Html.DisplayFor(Modelitem => item.MobilePhoneNumber)</li>
    <li id="city">@Html.DisplayFor(Modelitem => item.City)</li>
    <li>
        @{var routeValue = new RouteValueDictionary();
        routeValue.Add("id", item.Id);}
        @Html.ActionLink("Delete", "DeletePerCapitaByAjax", routeValue)

    </li>
    <li class="rowBreak">
    </li>
}

