@model ChristiansWebPage.Models.PerCapitaByAjax
@{
    ViewBag.Title = "Index";
}
<h2>List of Random People</h2>
<ul>
    <li>@Html.DisplayNameFor<Model => Model.FirstName></li>
    <li>Last Name</li>
    <li>Mobile Number</li>
    <li>City</li>



</ul>






@* @<table>
   
    
    
    <thead>
        <tr>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Mobile Number
            </th>
            <th>
                City
            </th>
        </tr>
    </thead>
    <tbody>
      @*  @foreach (ChristiansWebPage.Models.PerCapitaByAjax item in Model)
        {
            <tr id="@item.Id">
                <td>
                    @Html.DisplayFor(Modelitem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(Modelitem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(Modelitem => item.MobilePhoneNumber)
                </td>
                <td>
                    @Html.DisplayFor(Modelitem => item.City)
                </td>
                <td>
                    @{var routeValue = new RouteValueDictionary();
                        routeValue.Add("id", item.Id);}
                    @Html.ActionLink("Delete", "DeletePerCapitaByAjax", routeValue)

                </td>
            </tr>
        }*
    </tbody>
</table> *@
@using (Html.BeginForm("SortAPeopleList", "PerCapitaByAjax", FormMethod.Post))
{
    <h3>What would you like to sort on:</h3><br />
    <select name="sortOnColumn" size="1">
        <option value="FirstName">First name</option>
        <option value="LastName">Last name</option>
        <option value="City">City</option>
    </select>
    <input type="submit" name="" value="Sort" />
}
@using (Html.BeginForm("FilterPerCapita", "PerCapitaByAjax", FormMethod.Post))
{
    <h3>What are you looking for:</h3><br />
    <p>To remove the filter, search again without any word.</p>
    <input type="text" name="searchFilter" value="" />
    <input type="submit" name="" value="Search" />
}
@using (Html.BeginForm("AddPerCapita", "PerCapitaByAjax", FormMethod.Post))
{
    <h3>Here you can add more persons:</h3><br />
    if (Convert.ToString(Session["WrongMobilenumber"]) != "")
    {
        <h1>@Session["WrongMobilenumber"]</h1><br />
    }
    <table>
        <tr>
            <td> First name:</td>
            <td> <input type="text" name="FirstName" value="" /></td>
        </tr>
        <tr>
            <td>Second name:</td>
            <td> <input type="text" name="LastName" value="" /></td>
        </tr>
        <tr>
            <td>Mobile number:</td>
            <td> <input type="text" name="MobilePhoneNumber" value="" /></td>
        <tr>
            <td>City:</td>
            <td> <input type="text" name="City" value="" /></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add" /></td>
        </tr>
    </table>
}